* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    height: 6rem;
    background-color: rgb(40, 35, 29);
}

main {
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: rgb(64, 56, 46);
}

.container_custom {
    width: 400px;
    margin: 0 auto;
}

.input-group-text {
    background-color: rgb(178, 172, 148) !important;
}

#price {
    margin-left: 0 auto;
    color: red;
    font-weight: 700;
    font-size: 20px;
}